<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUjWcGTJvhxfu56GcJm1vFLoXPNoUqrSc</string>
	<key>GCM_SENDER_ID</key>
	<string>193111462403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applicationDesActivitesMai.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>application-des-activites-mai</string>
	<key>STORAGE_BUCKET</key>
	<string>application-des-activites-mai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193111462403:ios:6b13689a6683030da63436</string>
</dict>
</plist>